body{
    margin: 0px;
    
    font-family: 'Open Sans', sans-serif;
    background: rgb(225,233,131);
    background: linear-gradient(90deg, rgba(225,233,131,1) 79%, rgba(225,233,131,1) 79%, rgba(29,246,253,1) 100%);
    

    min-height: 100vh;
}
.page {
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    font-family: 'Mulish', sans-serif;
    
}

ul{
    list-style: none;
    gap: 48px;
    display: flex;
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
    
}


 a {
    color: #1F1534;
    text-decoration: none;
}

ul li a:hover {
    
    font-weight: bold;
}

h1, ul{
    font-family: 'Mulish', sans-serif;
}   

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



h1{
    font-size: 49px;
    line-height: 56px;
    color: #1F1534;
    width: 490px;
    font-weight: normal;
    border-radius: 4px;

}

h1 span {
    color: #89C5CC;
   font-weight: bold;

}

p{
    font-size: 14px;
    line-height: 28px;
    color: rgb(157, 156, 156);
    margin: 40px 0;
}

button{
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;

    background: #69B990;
    border: 0;
    padding: 14px 32px 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 1px 39px 12px;


    cursor: pointer;
}

button:hover{
    background: #3f6e56;
}

footer {
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    color: #000
    
}


footer a {
    font-weight: bold;

}


#balls {
    position: fixed;
    bottom: 0px;
    right: 0px;
}